<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GoGo Game</title>

    <!-- Le styles -->
    <link href="/assets/jgoboard.css" rel="stylesheet">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/application.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!-- Le fav and touch icons -->
  </head>
  <body>
    <div id="flashes" class="span8 offset2"></div>
    <%= yield %>
    <script src="/assets/bootstrap.js"></script>
  </body>
</html>
