<div class="container">
  <div class="row">
    <div class="span8">
      <h1 class="main-text">GoGo</h1>
      <div class="jgo_board" id="board"></div>
    </div>
    <div class="span2 offset1">
      <form action="/games/<%=id %>/bot" method="post" id="enable_bot">
        <label for="share_url" class="white-text">Share with a friend</label>
        <input type="text" id="share_url" name="share_url"/>
        <input type="submit" value="Play with Gogo Bot" class="btn btn-primary btn-large" />
      </form>
      <div id="scores">
        <dl class="dl-horizontal">
          <dt><span class="label black">Black: </span></dt><dd><span id="score_black" class="badge">0</span></dd>
          <dt><span class="label label-inverse">White: </span></dt><dd><span id="score_white" class="badge badge-inverse">0</span></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<audio preload="auto" id="stone_sound" data-name="stone">
  <source src="/assets/stone.ogg">
  <source src="/assets/stone.mp3">
</audio>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jgoboard.js"></script>
<script src="/assets/application.js"></script>
<script>
    Go.current = <%= player %>;
    Go.moves = <%= moves %>;
    Go.gameId = <%= id %>;
</script>
