<div class="container">
  <div class="row">
    <div class="span8">
      <div class="jgo_board" id="board"></div>
    </div>
    <div class="span4">
      <form action="/games/<%=id %>/bot" method="post" id="enable_bot">
        <input type="submit" value="Play with Gogo Bot" />
      </form>
    </div>
  </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jgoboard.js"></script>
<script src="/assets/application.js"></script>
<script>
    Go.current = <%= player %>;
    Go.moves = <%= moves %>;
    Go.gameId = <%= id %>;
    var even = (Go.moves.size % 2 == 0);
    Go.turn = (even && Go.current == JGO_BLACK) || (!even && Go.current == JGO_BLACK);
    streaming();
</script>
